
/vendor/
/web/modules/contrib/*

# Ignore paths that contain user-generated content.
/web/sites/*/private
/web/themes/custom/seed_cms_blog_theme
/web/sites/default/settings.local.php
/web/core
/web/themes/contrib/*
/.ddev/
/web/sites/default/files/2024-12
/web/sites/default/files/media-icons
/web/sites/default/files/2025-06
/web/sites/default/files/php
/web/sites/default/files/styles
/web/sites/default/files/.htacces
*.sql
*.sql.gz
